{% extends 'Users/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
{% include 'Users/navbar.html' %} 

<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy"
                    src="https://thumbs.dreamstime.com/b/saint-petersburg-russia-circa-may-goods-display-sony-store-galeria-shopping-center-electronics-store-134641471.jpg"
                    alt="About">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Who Are We?</h2>
                        <p class="lead fs-4 text-secondary mb-3">Srijana Electrics is a leading e-commerce platform dedicated to providing high-quality electrical products and
                        solutions.</p>
                        <p class="mb-5">This platform aims to meet the growing demand for reliable electrical goods by offering a wide variety of products.
                            Srijana Electrics' product range includes headsets, earphones, mouse, keyboards etc.For all of your electrical needs, Srijana Electrics is the platform to visit.
                        </p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">All in One Market</h2>
                                        <p class="text-secondary mb-0">We provide variety of electronic products in same
                                            website.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                            <path
                                                d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <h2 class="h4 mb-3">High Quality products</h2>
                                        <p class="text-secondary mb-0">We are delivering high quality & genuine products .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<div id="aboutus" class="container-fluid bg-white mt-5">
    <div class="row">
        <div class="col-lg-4 p-4">
            <h3 class="h-font fw-bold fs-4 mb-2">SRIJANA ELECTRICS</h3>
            <p>
                Welcome to Srijana Electric, your gateway to all things tech. Explore our curated collection of
                cutting-edge gadgets and electronics, designed to elevate your everyday life. With personalized service
                and top-notch amenities, we're here to make your shopping experience unforgettable. Dive into innovation
                and convenience at Srijana Electric - where every visit sparks excitement.
            </p>
        </div>

        <div class="col-lg-4 p-4">
            <H5 class="mb-3">Links</H5>
            <a href="#home" class="d-inline-block mb-2 text-dark text-decoration-none">HOME</a><br>
            <a href="#facilities" class="d-inline-block mb-2 text-dark text-decoration-none">FACILITIES</a><br>
            <a href="#rooms" class="d-inline-block mb-2 text-dark text-decoration-none">PRODUCTS</a><br>
            <a href="#contactus" class="d-inline-block mb-2 text-dark text-decoration-none">CONTACT US</a><br>
            <a href="#aboutus" class="d-inline-block mb-2 text-dark text-decoration-none">ABOUT US</a>
        </div>

        <div class="col-lg-4 p-4">
            <h5 class="mb-4">Follow US</h5>
            <a href="#" class="d-inline-block text-dark text-decoration-none mb-2">
                <i class="bi bi-facebook me-1"></i> Facebook
            </a><br>
            <a href="#" class="d-inline-block text-dark text-decoration-none mb-2">
                <i class="bi bi-twitter-x me-1"></i> Twitter
            </a><br>
            <a href="#" class="d-inline-block text-dark text-decoration-none">
                <i class="bi bi-instagram me-1"></i> Instagram
            </a><br>
        </div>

    </div>
</div>

<h6 class="text-center bg-dark text-white p-4 m-0">Designed and Developed by Sohan Nagarkoti</h6>
{% endblock body %}