{% extends 'Users/base.html' %}
{% block head %}
{% endblock head %}
{% block body %}
{% include 'Users/navbar.html' %}
        <!-- Header-->
        <header class="bg-dark py-1">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Review Your Order...</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container" style="display: flex; justify-content: center;">
            {% comment %} <div class="row"> {% endcomment %}
                <div class="col-md-4 me-5" >
                    <div class="card">
                        <div class="card-header">
                            Order Summary
                        </div>
                        <div class="card-body">
                            {% for product in cart_products %}
                                {{ product.name }}:
                                {% if product.is_sale %}
                                    ${{ product.sale_price }}
                                {% else %}
                                    Rs.{{ product.price }}
                                {% endif %}
                                <br/>
                                <small>Quantity:
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{ value }}
                                        {% endif %}
                                    {% endfor %}
                                </small>
                                <br/><br/>
                            {% endfor %}
                            Total:  Rs.{{ totals }}
                            <br/><br/>
                            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                        </div>
                    </div>
                    <br/><br/>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            Shipping Info
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'billing_info' %}">
                                {% csrf_token %}
                                {{ shipping_form.as_p }}
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-secondary">
                        Continue To Billing
                    </button>
                    </form>
                    <br/><br/>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
{% endblock %}


